@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://site-assets.fontawesome.com/releases/v6.4.0/css/all.css");
$main: #2181fa;
$primary: #4286f5;
$white: #fff;
$bg-light: #fbfbfb;
$lightgray: #f0f0f0;
$black: #202223;
$box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
$border: #8c9196;
$border-light: #cccccc;


// header
.i-header {
  width: 100%;
  min-height: 60px;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;

  .i-brand {
    .i-logo {
      height: 36px;
    }
  }

  .i-actions {
    display: flex;
    align-items: center;

    .nav-item {
      margin-left: 24px;
    }

    .dropdown-toggle {
      padding: 0px;
      border-radius: 100px;
      border: none;
      height: 40px;
    }

    .dropdown-toggle::after {
      display: none;
    }

    .dropdown-menu {
      top: 7px !important;
      padding: 24px;
      width: 195px;
      border-radius: 12px;
      border: 1px solid #ccc;
      background: #fff;
      box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.08),
        0px 1px 3px 0px rgba(0, 0, 0, 0.1);

      .user-profile {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;

        .profile {
          border-radius: 100px;
          border: 1px solid var(--fade-black-10, rgba(27, 31, 35, 0.1));
          width: 110px;
          height: 110px;
          margin-bottom: 15px;
          position: relative;

          img {
            height: 100%;
            border-radius: 100px;
            width: 100%;
          }

          .status {
            position: absolute;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            border-radius: 100px;
            background: $border;
            border: 1px solid white;
            bottom: 5px;
            right: 5px;
            z-index: 99999999;
          }

          .status.active {
            background: #64ff3d;
          }
        }

        h3 {
          margin-bottom: 15px;

          color: #8c96a0;
          font-family: Poppins;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 150%;
          text-transform: uppercase;
        }

        h6 {
          color: #2181fa;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          margin-bottom: 15px;
        }
      }

      .options {
        .option {
          padding: 10px 0px;
          display: flex;
          cursor: pointer;

          svg {
            margin-right: 8px;
          }

          span {
            color: #8c96a0;
            font-family: Poppins;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
            /* 150% */
          }
        }

        .option:hover {
          span {
            color: $main;
          }

          svg path {
            fill: $main !important;
          }
        }

        .option:last-child {
          padding-bottom: 0px;
          border-top: 1px solid #ccc;
        }
      }
    }

    .i-menu {
      padding: 0px;

      .menu-box {
        padding: 25px 25px 15px;
      }

      .admin-row:hover {
        span {
          color: $main;
        }

        svg path {
          fill: $main;
        }
      }

      .admin-row {
        cursor: pointer;
        border-top: 1px solid #ccc;
        display: flex;
        padding: 20px 50px;

        span {
          margin-left: 8px;
          color: #8c96a0;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          /* 150% */
        }
      }

      .portal.active,
      .portal:hover {
        background: #edf4ff;
      }

      .portal {
        cursor: pointer;
        width: 100%;
        height: 44px;
        padding: 10px 20px;
        border-radius: 6px;
        display: flex;
        align-items: center;

        span {
          margin-left: 8px;
          color: #8c96a0;
          font-family: Poppins;
          font-size: 12px;
          font-style: normal;
          font-weight: 500;
          line-height: 18px;
          /* 150% */
        }
      }
    }

    .i-user {
      height: 40px;
      width: 40px;
      border-radius: 100px;
    }
  }
}
// sidebar
.cdb-side-bar {
  display: flex;
  height: calc(100vh - 62px);
  overflow: scroll initial;

  .gaTCvF {
    width: 200px !important;
    min-width: 200px !important;
  }

  .gaTCvF.toggled {
    width: 70px !important;
    min-width: 70px !important;
  }

  li.toggled {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }

  .side-bar-inner {
    color: #4f4f4f;
    background-color: white;
    border-right: 1px solid #ccc;
  }

  .side-bar-footer {
    padding: 20px 5px;
  }

  .side-nav-open {
    border-top: 1px solid #ccc;
    padding: 20px 23px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .head-div {
      padding: 0px;
    }

    .open-nav {
      height: 20px;
      width: 20px;
      border-radius: 100px;
      background: $main;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        rotate: 180deg;
      }
    }
  }

  .side-bar-inner.toggled {
    .open-nav {
      height: 20px;
      width: 20px;
      border-radius: 100px;
      background: #cccccc;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        rotate: 0deg;
      }
    }
  }

  .fRhOkl {
    padding-top: 0px;
  }

  .jAaeFT {
    padding: 0px !important;
  }

  .i-heading {
    li.toggled {
      margin-top: 0px !important;
    }

    li {
      margin: 0px;
      padding: 10px 15px !important;
      border-bottom: 1px solid #ccc;

      i,
      span {
        font-size: 16px !important;
      }
    }
  }

  .sidebar-content {
    .djSlkg {
      height: 40px;
      padding: 10px 15px;
      width: 100%;
      border-radius: 4px;
      flex-shrink: 0;

      .side-icon {
        margin-right: 0px !important;
        width: auto !important;
      }

      i,
      span {
        font-size: 14px;
        color: #8c96a0;
      }
    }

    li.active .djSlkg,
    .djSlkg:hover {
      background: #edf4ff;

      i,
      span {
        color: $main;
      }
    }

    .item-content {
      color: #8c96a0;
      font-size: 14px;
      padding-left: 8px;
      font-weight: 500;
    }
  }
}
